.container{
    display: grid;
    font-size: 12.5px;
    width: 1024px;
    height: 1024px;
    background: LightGray;
    grid-template-columns: 18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px ;
    grid-template-rows: 18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px 
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px
    18.75px 18.75px 18.75px 18.75px ;
}





/*  .d1{background: LightSkyBlue;}
    .d2{background: LightSalmon;}
    .d3{background: PaleTurquoise;}
    .d4{background: LightPink;}
    .d5{background: PaleGreen;}
*/
